.btn-openfile {
	position: absolute;
	vertical-align: bottom;	
	padding: 6px 10px;
	z-index: 999;
	background-color: #24a430;
	border: none;
	border-radius: 5px;
	color: #FFF;
}


/* Pulsante: clear del canvas di sinistra*/
#cleanLeftCanvas 
{
    left: 45px;
    bottom: 180px;  
    padding: 2px 2px;
    background-color: blue;
}

/* Pulsante: crea un nuovo oggetto */
#addNewObject {
    	left: 30px;
       bottom: 30px;
} 

/* Campo Edit: nome del uovo oggetto */
#editObjectName {
	position: absolute;
	vertical-align: bottom;
	left: 150px;
	bottom: 33px;
    width: 280px;
	z-index: 999;	
	color: black;
}

/* Pulsante: aggiunta di una parola chiave */
#addTag {
    right: 300px;
    bottom: 110px; 
    width: 120px;
}

/* Campo Edit: inserimento del nome del nuovo tag*/
#newTagName {
	position: absolute;
	vertical-align: bottom;
	right: 300px;
	bottom: 75px;
    width: 120px;
	z-index: 999;	
	color: black;
}

/* Pulsante: rimuovi il tag selezionato */
#removeTag {
    right: 165px;
    bottom: 110px; 
    width: 120px;
}

/* div contenente il Combobox: seleziona il tag da rimuovere */
#divSelectTag {
    position: absolute;
    vertical-align: bottom;
    right: 165px;
    bottom: 78px;
    width: 120px;
    height: 20px;
    
}


/* Pulsante per la cancellazione dell'oggetto selezionato */
#deleteObject 
{
    right: 30px;
    bottom: 75px;
    width: 120px;
    height: 65px;
    background-color: red;
} 


/* div contentente il combobox per la selezione degli oggetti da cancellare */
#divSelectObject {
    position: absolute;
    vertical-align: bottom;
    right: 300px;
    bottom: 440px;
    width: 120px;
    height: 20px;
    z-index: 999;
}




/* Pulsante: rimuovi il tag selezionato */
#saveObjects {
    right: 30px;
    bottom: 30px; 
    width: 390px;
}

.draggable 
{
    position: absolute;

    z-index: 999;
    background-color: blue;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px; 
}



#sketch
{
    position:absolute; 
    top:30px; 
    left:30px; 
    z-index:997; 
        
    width:400px;
    height:300px;
}



#sketch2
{
    position:absolute; 
    top:30px; 
    right:30px; 
    z-index:997;   
    width:400px;
    height:300px;
}


#paint{
    position: relative;
    cursor:crosshair;


}

#paint2{
    position: relative;
    left: 0px;
    cursor: crosshair;
}


.a-tip2
{
	position: absolute;
	vertical-align: bottom;
	left: 30px;
	bottom: 60px;
	padding: 6px 10px;
	z-index: 997;
	border: none;
	border-radius: 5px;
	color: black;
    text-align: left;    	
}



    
    