#objectMenu
{
    position: absolute;
    left:10px;
    top:10px;
    
    width: 280px;
    height: 470px;
   
    overflow: auto;
    
    border: 1px solid lightgray;    
    background-color: white;
}

#eraseZone
{
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: red;
    
    width: 100px;
    height: 100px;
    
    border: 2px lightgray solid;
    background-color: white;
}


#newSetButton {
	position: absolute;
	vertical-align: top;	
    top: 10px;
    right: 400px;
	padding: 6px 10px;
	z-index: 999;
	background-color: blue;/*#24a430;*/
	border: none;
	border-radius: 5px;
	color: #FFF;
}

#newSetNameEdit 
{
    position: absolute;
	vertical-align: top;	
    top: 10px;
    right: 200px;
	z-index: 999;    
}

#divSelectSet
{
    position: absolute;
    
    right: 10px;
    top: 10px;



}


#tableObject
{
    font-size: 12px;
    color: black;

}

.menu:hover
{
   background-color: lightgray;

}

canvas:hover
{
   background-color: lightgray;

}


canvas
{
    background-color: transparent;

}

.draggable {
 /* background-color: #29e;*/
  /*color: white;*/
  font-size: 20px;
  font-family: sans-serif;
  
    
    padding: 0px;
    margin: 0px;
    
  /*padding: 20px;
  margin: 30px 20px;*/

  /*width: 120px;*/
    
    background-color: transparent;

  /* This makes things *much* easier */
  /*box-sizing: border-box;*/
}



